/* Pequeños ajustes y estilos personalizados */
body {
    font-family: 'Inter', sans-serif;
}

.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.table-container {
    overflow-x: auto; /* Para responsividad en tablas */
}
